# ignore directories under this one by default
/*/
# ATLAS SW sometimes addes hidden things, ignore them as well
.*

#include a few local files
!/scripts/
!.gitignore

# ignore specific files
commit.txt